*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.boxImg{
    height: 500px;
    width: 300px;
}
.boxImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container .onn {
    cursor: pointer;
    border: none;
    background-color: lightgreen;
    color: white;
    padding: 5px;
    border-radius: 8px;
}
.container .off{
    cursor: pointer;
    border: none;
    background-color: rgb(250, 1, 64);
    color: white;
    padding: 5px;
    border-radius: 8px;
}